<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/header" . }}
</head>
<body class="bg-gray-50 dark:bg-gray-800" hx-boost="true">
    {{ template "partials/navbar-dashboard" . }}

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
        {{ template "partials/sidebar" . }}

        <div id="main-content" class="relative w-full h-full overflow-y-auto lg:ml-64">
            <main>
                {{ embed }}
            </main>

            {{ if .footer }}
                {{ template "partials/footer" . }}
            {{ end }}
        </div>
    </div>

    {{ template "partials/scripts" . }}
</body>
</html>
